*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 9vh;
    background-color: #01141d;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}

.navegater ul{
    list-style: none;
}

.navegater ul li{
    display: inline-block;
}

.header .logo-name a{
    color: rgb(228, 226, 226);
    font-size: 20px;
}

.logo-name a,.navegater ul li a{
    text-decoration: none;
    margin-right: 20px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px;
    transition: .3s;
}

ul li a:hover{
    color: #FFC107;
}

.menu-bar i{
    color: white;
    font-size: 50x;
    cursor: pointer;
    display: none;
}

@media (max-width:768px){
    body{
        font-size: 20px;
    }

    .navegater ul li{
        display: block;
        margin-left: 30px;
    }

    .header .logo-name a{
        display: none;
    }

    .header{
        justify-content: flex-start;
        height: 5vh;
        background-color: transparent;
        z-index: 2;
        position: absolute;
    }

    .logo-name a,.navegater ul li a{
        position: relative;
        top: 100px;
        left: 150px;
        font-size: 25px;
        height: 9dvh;
        display: none;
    }

    ul li{
        margin-top: 10px;
    }

    .menu-bar{
        margin-left: 30px;
        margin-top: 30px;
        position: none;
    }

    .menu-bar i{
        display: block;
        font-size: 50px;
        width: 100%;
        position: none;
    }

}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001d2a;
    width: 100%;
    height: 100vh;
}

.home-info{
    background-color: #00394a;
    border-radius: 9px;
    width: 700px;
    height: 250px;
    text-align: center;
    padding: 5px;
}

#home h1{
    font-size: 30px;
    text-transform: capitalize;
    color: #FFC107;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'Rowdies', sans-serif;
}

strong{
    color: #dfdfe1;
}

#home .info{
    width: 100%;
    color: white;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.8;
}

.more-detail {
    margin-top: 30px;
}

.more-detail a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'Rowdies', sans-serif;
    color: #ffffff;
    background-color: #06655d;
    box-shadow: -3px 1px 9px 1px #0b3c38;
    padding: 7px 30px 7px 30px;
    text-transform: capitalize;
    border-radius: 5px;
    transition: all .8s ease-in-out;
}

.more-detail a:hover{
    background-color: #043b36;
    box-shadow: -3px 1px 9px 1px #06655d;
}


.image img{
    width: 350px;
    height: 250px;
}


@media (max-width:768px){
    .home-info{
        width: 480px;
        height: 250px;
    }

    #home .info{
        width: 100%;
        margin-top: 5px;
        line-height: 1.4;
    }

    .more-detail {
        margin-top: 50px;
    }
}


#gallary{
    min-height: 100vh;
    /* background-color: #d3e6e4; */
    background: radial-gradient(circle at 99.92467244466145% 63.382517496744796%, #FFFFFF 0%, 17.5%, rgba(255,255,255,0) 35%), radial-gradient(circle at 0% 42.7081298828125%, rgba(255,255,255,0.68) 0%, 17.5%, rgba(255,255,255,0) 35%), radial-gradient(circle at 3.821830749511719% 100%, #FFFFFF 0%, 11.4%, rgba(255,255,255,0) 38%), radial-gradient(circle at 48.23830922444661% 0.34612019856770837%, #FFFFFF 0%, 17.16%, rgba(255,255,255,0) 33%), radial-gradient(circle at 100% 0%, #FFFFFF 0%, 5.100000000000002%, rgba(255,255,255,0) 17%), radial-gradient(circle at 20.600992838541668% 0%, rgba(96,95,252,0.74) 0%, 30%, rgba(96,95,252,0) 100%), radial-gradient(circle at 48.9013671875% 49.521484375%, #AFAFFE 0%, 100%, rgba(175,175,254,0) 100%);
}

h2{
    padding-top: 40px;
    text-transform: capitalize;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'Rowdies', sans-serif;
}

.gallary-imge{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.image{
    position: relative;
    overflow: hidden;
}

.image:hover img{
    transform: scale(1.5);
    transition: .2s;
}

.gallary-imge  img{
    cursor: pointer;
    max-width: 100%;
}


@media (max-width:768px){

    #gallary{
        width: 100%;
    }

    .gallary-imge{
        flex-wrap: 50%;
        margin-top: 60px;
    }
}



#learn{
    min-height: 110vh;
    width: 100%;
    background-color: black;
    position: relative;
}

#learn::after{
    content: "";
    position: absolute;
    background-color: #979797;
    bottom: 0;
    left: 9%;
    width: 80%;
    height: 2px;
}

h3{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    top: 80px;
    font-family: 'Poppins', sans-serif;
}

.learn-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}

.learn-element-1 i{
    font-size: 35px;
    color: rgb(116, 3, 112);
    font-weight: bold;
    margin-left: -8px;
}

.learn-element-2 i{
    font-size: 35px;
    color: rgb(87, 4, 19);
    font-weight: bold;
    margin-left: -8px;
}

.learn-element-3 i{
    font-size: 35px;
    color: rgb(2, 105, 24);
    font-weight: bold;
    margin-left: -8px;
}

.Branding h4{
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'Rowdies', sans-serif;
}

.paragraf-element{
    width: 190px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.ready{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 30px;
    z-index: 1;
}

h5{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Tektur', sans-serif;
    /* font-family: 'Rowdies', sans-serif; */
    color: white;
    font-size: 25px;
}

.ready a{
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'Rowdies', sans-serif;
    font-weight: bold;
    font-size: 15PX;
    transition: .5s ease-in-out;
}

.ready a:hover{
    background-color: rgb(0, 0, 106);
}


@media (max-width:768px){
    #learn{
        width: 100%;
}

h3{
    position: relative;
    top: 23px;
}

.learn-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 8dvh;
}


.ready{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 30px;
}

}



#help{
    min-height: 120vh;
    width: 100%;
    background-color: #000000;
}

h6{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'Rowdies', sans-serif;
    font-weight: bold;
    position: relative;
    top: 80px;
}

.image-of-speakers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.image-of-speakers img{
    width: 250px;
    height: 380px;
    position: relative;
}

.images{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.images:hover img{
    transform: scale(1.4) rotate(5deg);
    transition: 0.9s;
}

@media (max-width:768px){
    .image-of-speakers{
        display: flex;
        flex-wrap: wrap;
    }

    .image-of-speakers img{
        width: 300px;
        height: 200px;
        position: relative;
    }

    h6{
        position: relative;
        top: 10px;
    }
}

#skills-container{
    min-height: 100vh;
    background-color: white;
}

.skills-content{
    font-size: 30px;
    text-align: center;
    color: black;
    top: 80px;
    position: relative;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.skills-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.skills-bar{
    display: block;
    width: 500px;
    height: 25px;
    background-color: #dedadc;
}

.skills-element{
    margin-top: 30px;
}

.skills-element:nth-child(1) .one{
    width: 90%;
    height: 25px;
    background: #3f51b5;
}

.skills-element:nth-child(2) .one{
    width: 82%;
    height: 25px;
    background:#3f51b5;
}

.skills-element:nth-child(3) .one{
    width: 50%;
    height: 25px;
    background: #3f51b5;
}


.skills-title{
    color: rgb(0, 0, 0);
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.skills-title, span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

@media (max-width:768px){
    .skills-bar{
        width: 400px;
    }
}

@media (max-width:468px){
    .skills-bar{
        width: 300px;
    }
}

#contact-us{
    min-height: 100vh;
    background-color: black;
}

.contact-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-list-2 li {
    list-style: none;
    /* margin-top: 10px; */
    line-height: 2.6;
    text-transform: capitalize;
}

.contact-list-2 li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 15px;
    
}

.contact-list-2 li a:hover{
    color: #FFC107;
}

@media (max-width:768px){ 

    .contact-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-list-2 li a{
        font-size: 14px;
    }

    .contact-list-2 li{
        line-height: 1.8;
    }
}

@media (max-width:430px){
    .contact-list-2 li{
        line-height: 1.5;
    }
}


footer{
    min-height: 15vh;
    background: rgb(163,163,163);
background: linear-gradient(90deg, rgba(163,163,163,1) 14%, rgba(79,80,80,0.6278886554621849) 51%, rgba(26,27,28,1) 100%);
    padding-top: 20px;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.footer-copy{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 500;
}

.icons i{
    background-color: rgb(42, 42, 42);
    color: white;
    border-radius: 50%;
    padding: 8px;
}

@media (max-width:768px){
    
.footer-copy{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i{
    font-size: 12px;
    padding: 4px;
}

}
